#canvasContainer {
  width: 100%;
  height: 500px;
  background-color: black;
  overflow: scroll;
  float: left;
}
.baseEnemy.dragging {
  position: absolute;
}
.baseEnemies .baseEnemy {
  margin-left: 5px;
}
