.basePiece.dragging {
  position: absolute;
}
#map {
  border: 1px solid black;
  float: left;
}
.tools {
  float: left;
  margin-left: 20px;
  width: 200px;
}
#canvasContainer {
  width: 805px;
  height: 505px;
  overflow: scroll;
  float: left;
}
